/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap');

@font-face {
	font-family: 'Fasthand';
	src: url('../fonts/Fasthand-Regular.woff2') format('woff2'),
		 url('../fonts/Fasthand-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Delicious Handrawn';
	src: url('../fonts/DeliciousHandrawn-Regular.woff2') format('woff2'),
		 url('../fonts/DeliciousHandrawn-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alkatra';
	src: url('../fonts/Alkatra-Regular.woff2') format('woff2'),
		 url('../fonts/Alkatra-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Alkatra";
	font-size: 16px;
	font-weight: 500;
	color: rgb(104, 63, 63);
}
.title {
	font-family:"Delicious Handrawn",serif;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	color: brown;
}
.text {
	font-family: "Delicious Handrawn", cursive;
	text-align: justify;
	font-size: 18px;
	line-height: 2;
	font-weight: 300;
	font-style: italic;
	color: rgb(228, 66, 17);
	text-shadow: 1px 1px 2px #000;
}
.content {
	font-family: "Fasthand", sans-serif;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	font-style: italic;
	color: crimson;
}
.list a {
	font-family: "Delicious Handrawn", cursive;
	text-decoration: underline;
	font-size: 20px;
	font-weight: 500;
	font-style: italic;
	color: darkcyan;
	text-shadow: 1px 1px 2px chartreuse;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
}
.text01 {
	font-family: "Poppins", serif;
	text-align: justify;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	color: darkgreen;
	text-transform: capitalize;
}
.text02 {
	font-family: "Poppins", serif;
	text-decoration: line-through;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
color: rgb(3, 138, 3);
text-indent: 20px;
}
.text03 {
	font-family: "Poppins", serif;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	color: rgb(11, 221, 11);

}
.text031 {
	font-family: "Poppins", serif;
	font-size: 25px;
	font-weight: 500;
	font-style: italic;
	color: rgb(245, 35, 217);
	text-shadow: 2px 2px 3px rgb(8, 236, 236);
	word-spacing: 12px;
}
.content1, 
.content2, 
.content3, 
.content4 {
	font-family: "Fasthand", serif;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	color: goldenrod;
}

.content031,
.content032,
.content033 {
	font-family: "Fasthand", serif;
	color: rgb(5, 112, 112);
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
	text-transform: capitalize;
	word-spacing: 10px;
}

