/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

h1 {
	color: rgb(243, 132, 6);
}

a {
	color: rgb(4, 118, 126);
} 

h2,
h3,
h4 {
color: blue;
}

.text1 p {
	color: rgb(84, 163, 6);
}

.vstup ~ p {
	color: crimson;
}

.text2 > p  {
	color: rgb(163, 197, 9);
}

.g1 * {
	color: rgb(20, 105, 105);
}

div {
	color: rgb(75, 14, 189);
}
div.g3 {
	color: dodgerblue;
}

.g4  {
	color: darkorange;
}

.text3 .list {
	color: maroon;
}

.text4 + p {
	color: greenyellow;
}

.text4.pers {
	color: rgb(3, 234, 241);
}
