/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #6C757D;	
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 115px;
} 


.pading{
	padding-top: 80px;
	padding-bottom: 80px;
}
.title-1 {
	font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
	margin-bottom: 40px;
	margin-left: 212px;
	margin-top: 115px;
}

p {
	line-height: 25px;
	margin-bottom: 30px;
}

.text1,
.text2,
.text3  {
	margin: 0 auto;
	line-height: 25px;
	max-width: 816px;
	margin-bottom: 80px;
}

.picture-1 {
	display: block;
	max-width: 100%;
	margin-bottom: 80px;
}

.title-2 {
	font-weight: 700;
		font-size: 25px;
		line-height: 1.6;
		color: #212529;
		max-width: 605px;
		margin-bottom: 40px;
		margin-left: 212px;
}

.picture-2 {
display: inline-block;
	margin-bottom: 80px;
}

.woman {
display: inline-block;
margin-right: 15px;
}
